<div class="container">	
	<div class="container-fluid">
		<h3>個人資料</h3>
		<table class="table table-hover table-responsive" ng-init="getInfo()">
			<tbody>
				<tr>
					<th>姓名</th>
					<td>
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
							<input type="text" class="form-control" ng-model="user.lastName" placeholder="姓氏" required/>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
							<input type="text" class="form-control" ng-model="user.firstName" placeholder="名字" required/>
						</div> 
					</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 form-inline radioDiv">
							<input type="radio" class="form-control" name="gender" value="F" ng-model="user.gender" required> 
							<label for="sex">小姐</label>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 form-inline radioDiv">
							<input type="radio" class="form-control" name="user.gender" value="M" ng-model="user.gender" required> 
							<label for="sex">先生</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>信箱</th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<input type="text" class="form-control" ng-model="user.email" placeholder="信箱" required readonly/>
						</div>
					</td>
				</tr>
				<tr>
					<th>密碼</th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<button class="btn btn-primary">變更密碼</button>
						</div>
					</td>
				</tr>
				<tr>
					<th>手機</th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<input type="text" class="form-control" ng-model="user.cellphone" placeholder="手機號碼" required/>
						</div>
					</td>
				</tr>
				<tr>
					<th>市話</th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<input type="text" class="form-control" ng-model="user.housePhone" placeholder="市話號碼" required/>
						</div>
					</td>
				</tr>
				<tr>
					<th>地址</th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<input type="text" class="form-control" ng-model="user.address" placeholder="地址" required/>
						</div>
					</td>
				</tr>
				<tr>
					<th>生日</th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<input type="text" class="form-control" placeholder="生日" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="02/10/86" data-max-date="today" data-autoclose="1" name="birthday" bs-datepicker ng-model="user.birthday" />
						</div>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<button class="btn btn-primary">編輯</button>
							<button class="btn btn-success">更新</button>
							<button class="btn btn-danger">取消</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>