.sectionDiv { 
	height: 100vh;
	padding-top:70px;  
	border-top : 1px solid #dd9933
}

/*1000px以下的狀況*/
@media only screen and (max-width: 1000px){	
	.sectionDiv { 
	height: auto;
	padding-top:70px;  
	border-top : 1px solid #dd9933
}
}

.planDiv th, .planDiv td{
	text-align: center !important;
}

.planDiv img.img-responsive{
	display: inline-block;
}

.itemDiv:hover{
	cursor : pointer;
	background-color: #dd9933;
	border-radius : 25px;
}

.selectedItem{
	background-color: #dd9933;
	border-radius : 25px;
}

.payMethodDesc{
	background-color: #f6f6f6;
	padding : 10px;
	margin : 10px;
	border-radius : 10px;
}
