.sectionDiv { 
	height: 100vh;
	padding-top:70px;  
	border-top : 1px solid #dd9933
}

.planDiv th, .planDiv td{
	text-align: center !important;
}

.planDiv img.img-responsive{
	display: inline-block;
}

.itemDiv:hover{
	cursor : pointer;
	background-color: #dd9933;
	border-radius : 25px;
}
