<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>果物配團隊</title>
</head>
<body>
	<div marginwidth="0" marginheight="0">
		<div dir="ltr" style="background-color: #f5f5f5; margin: 0; padding: 70px 0 70px 0; width: 100%">
			<table border="0" cellpadding="0" cellspacing="0" height="100%"
				width="100%">
				<tbody>
					<tr>
						<td align="center" valign="top">
							<div></div>
							<table border="0" cellpadding="0" cellspacing="0" width="600"
								style="background-color: #fdfdfd; border: 1px solid #dcdcdc; border-radius: 3px !important">
								<tbody>
									<tr>
										<td align="center" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" width="600"
												style="background-color: #557da1; border-radius: 3px 3px 0 0 !important; color: #ffffff; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: &amp; quot;Helvetica Neue&amp;quot;,Helvetica,Roboto,Arial,sans-serif">
												<tbody>
													<tr>
														<td>
															<h1
																style="color: #ffffff; display: block; font-family: &amp; quot; Helvetica Neue&amp;quot; , Helvetica ,Roboto,Arial,sans-serif; font-size: 30px; font-weight: 300; line-height: 150%; margin: 0; padding: 36px 48px; text-align: left">${MESSAGE_TITLE}</h1>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td align="center" valign="top">
											${CONTENT_TEMPLATE}
										</td>
									</tr>
									<tr>
										<td align="center" valign="top">
											<table border="0" cellpadding="10" cellspacing="0"
												width="600">
												<tbody>
													<tr>
														<td valign="top" style="padding: 0">
															<table border="0" cellpadding="10" cellspacing="0"
																width="100%">
																<tbody>
																	<tr>
																		<td colspan="2" valign="middle"
																			style="padding: 0 48px 48px 48px; border: 0; color: #99b1c7; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center">
																			<p>
																				Copyright 2013果物配| All Rights Reserved | 專屬您的水果營養管家<br>
																				<a
																					href="?&amp;cs=wh&amp;v=b&amp;to=info@fruitpay.com.tw"
																					target="_blank" rel="noreferrer">info@fruitpay.com.tw</a>|
																				Tel: 02-2338-0958| 台北市松山區南京東路四段197號7F
																			</p>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>