<table border="0" cellpadding="0" cellspacing="0" width="600 padding:15px;">
	<tbody>
		<tr>
			<td valign="top" style="background-color: #fdfdfd">
				<table border="0" cellpadding="20" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" style="padding: 48px">
								<div
									style="color: #737373; font-size: 14px; line-height: 150%; text-align: left;">
									<p>親愛的${FIRST_NAME}, 您好:<br>
									        歡迎您成為果物配的會員!<br>
									        為提供您更好的服務，已為您建立了一個會員帳號，<br>
									        您可以管理您的訂單資料<br>為了您的帳號安全，請在登入後修改您的個人密碼</p>
									<h2
										style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">會員資訊</h2>
									<p>
										<strong>登入信箱:</strong> <a
											href="https://?&amp;cs=wh&amp;v=b&amp;to=${CUSTOMER_EMAIL}"
											target="_blank" rel="noreferrer">${EMAIL}</a>
									</p>
									<p>
										<strong>登入密碼:</strong>
											${PASSWORD}
									</p>
									<p>
										<strong>姓名:</strong> ${LAST_NAME}
										${FIRST_NAME}
									</p>

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>