<div style="color: #737373; font-size: 14px; line-height: 150%; text-align: left;">
	<pre style="">
	親愛的${FIRST_NAME}, 您好: <br>
		感謝您的訂購，您的訂單內容如下
	</pre>
	<h2
		style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">
		<a
			href="#"
			style="color: #557da1; font-weight: normal; text-decoration: underline;"
			target="_blank" rel="noreferrer">訂單 #${ORDER_ID}</a> (<u></u>${ORDER_DATE}<u></u>)
	</h2>
	<table cellspacing="0" cellpadding="6"
		style="width: 100%; border: 1px solid #eee;" border="1">
		<thead>
			<tr>
				<th scope="col"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">商品</th>
				<th scope="col"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">價格</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td
					style="text-align: left; vertical-align: middle; border: 1px solid #eee; word-wrap: break-word; padding: 12px;">
					${ORDER_PROGRAM_NAME}
				</td>
				<td
					style="text-align: left; vertical-align: middle; border: 1px solid #eee; padding: 12px;">
					<span>NT ${TOTAL_PRICE}</span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th scope="row"
					style="text-align: left; border: 1px solid #eee; border-top-width: 4px; padding: 12px;">小計</th>
				<td
					style="text-align: left; border: 1px solid #eee; border-top-width: 4px; padding: 12px;"><span>NT ${PRICE}</span></td>
			</tr>
			<tr>
				<th scope="row"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">付款方式：</th>
				<td style="text-align: left; border: 1px solid #eee; padding: 12px;">${PAYMENT_MODE_NAME}</td>
			</tr>
			<tr>
				<th scope="row"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">運費：</th>
				<td style="text-align: left; border: 1px solid #eee; padding: 12px;">${PAYMENT_EXTRA_PRICE}</td>
			</tr>
			<tr>
				<th scope="row"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">總計：</th>
				<td style="text-align: left; border: 1px solid #eee; padding: 12px;"><span>NT ${TOTAL_PRICE}</span></td>
			</tr>
		</tfoot>
	</table>
	<h2
		style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">顧客資訊</h2>
	<p style="">
		<strong>電子郵件:</strong> ${EMAIL}
	</p>
	<p style="">
		<strong>聯絡電話:</strong> ${CELLPHONE}
	</p>
	<p style="">
		<strong>家裡電話:</strong> ${HOUSE_PHONE}
	</p>
	<table cellspacing="0" cellpadding="0"
		style="width: 100%; vertical-align: top;" border="0">
		<tbody>
			<tr>
				<td valign="top" width="50%" style="padding: 12px;">
					<h3
						style="color: #557da1; display: block; font-size: 16px; font-weight: bold; line-height: 130%; text-align: left;">帳單地址</h3>
					<p style="">
						${LAST_NAME}${FIRST_NAME}<br>${ADDRESS}
					</p>
				</td>
				<td valign="top" width="50%" style="padding: 12px;">
					<h3
						style="color: #557da1; display: block; font-size: 16px; font-weight: bold; line-height: 130%; text-align: left;">運送地址</h3>
					<p style="">
						${RECEIVER_LAST_NAME}${RECEIVER_FIRST_NAME}<br>${RECEIVER_ADDRESS}
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>