<div style="color: #737373; font-size: 14px; line-height: 150%; text-align: left;">
	<p style="">你已從 張 建輝 收到一筆訂單. 訂單的內容如下:</p>
	<h2
		style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">
		<a
			href="http://www.google.com/url?q=http://fruitpay.com.tw/wp-admin/post.php?post%3D3381%26action%3Dedit&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFRxxK1m_BCuAZPc3AAOcY-vOg6cQ"
			style="color: #557da1; font-weight: normal; text-decoration: underline;"
			target="_blank" rel="noreferrer">訂單 #3381</a> (<u></u>2015-09-19<u></u>)
	</h2>
	<table cellspacing="0" cellpadding="6"
		style="width: 100%; border: 1px solid #eee;" border="1">
		<thead>
			<tr>
				<th scope="col"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">商品</th>
				<th scope="col"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">數量</th>
				<th scope="col"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">價格</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td
					style="text-align: left; vertical-align: middle; border: 1px solid #eee; word-wrap: break-word; padding: 12px;">懶人安心箱【家庭方案】一天只要99元～！
					(#C001)<br> <small></small>
				</td>
				<td
					style="text-align: left; vertical-align: middle; border: 1px solid #eee; padding: 12px;">1</td>
				<td
					style="text-align: left; vertical-align: middle; border: 1px solid #eee; padding: 12px;"><span>NT$699.00</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th scope="row" colspan="2"
					style="text-align: left; border: 1px solid #eee; border-top-width: 4px; padding: 12px;">小計</th>
				<td
					style="text-align: left; border: 1px solid #eee; border-top-width: 4px; padding: 12px;"><span>NT$699.00</span></td>
			</tr>
			<tr>
				<th scope="row" colspan="2"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">配送方式：</th>
				<td style="text-align: left; border: 1px solid #eee; padding: 12px;">免運費</td>
			</tr>
			<tr>
				<th scope="row" colspan="2"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">付款方式：</th>
				<td style="text-align: left; border: 1px solid #eee; padding: 12px;">家庭方案</td>
			</tr>
			<tr>
				<th scope="row" colspan="2"
					style="text-align: left; border: 1px solid #eee; padding: 12px;">總計：</th>
				<td style="text-align: left; border: 1px solid #eee; padding: 12px;"><span>NT$699.00</span></td>
			</tr>
		</tfoot>
	</table>
	<h2
		style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">顧客資訊</h2>
	<p style="">
		<strong>電子郵件:</strong> <a
			href="https://?&amp;cs=wh&amp;v=b&amp;to=pakinju@yahoo.com.tw"
			target="_blank" rel="noreferrer">pakinju@yahoo.com.tw</a>
	</p>
	<p style="">
		<strong>電話:</strong> 0909368778
	</p>
	<table cellspacing="0" cellpadding="0"
		style="width: 100%; vertical-align: top;" border="0">
		<tbody>
			<tr>
				<td valign="top" width="50%" style="padding: 12px;">
					<h3
						style="color: #557da1; display: block; font-size: 16px; font-weight: bold; line-height: 130%; text-align: left;">帳單地址</h3>
					<p style="">
						建輝 張<br>淡水區濱海路1段306巷60弄36號11樓<br>新北市
					</p>
				</td>
				<td valign="top" width="50%" style="padding: 12px;">
					<h3
						style="color: #557da1; display: block; font-size: 16px; font-weight: bold; line-height: 130%; text-align: left;">運送地址</h3>
					<p style="">
						張 建輝<br>淡水區濱海路1段306巷60弄36號11樓
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>