<table border="0" cellpadding="0" cellspacing="0" width="600 padding:15px;">
	<tbody>
		<tr>
			<td valign="top" style="background-color: #fdfdfd">
				<table border="0" cellpadding="20" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" style="padding: 48px">
								<div
									style="color: #737373; font-size: 14px; line-height: 150%; text-align: left;">
									<p style="">親愛的${CUSTOMER_FIRST_NAME}, 您好: <br>
									由於近日果物配由舊系統移轉升級至新系統，<br>
									已將您原先的會員資料，轉移至新系統，<br>
									為了安全性的考量，系統準備了一組新的暫時密碼給您，<br>
									請您於收到信之後，盡速<b><a href="http://fruitpay.com.tw/fruitpay/app/user/info">登入</a></b>，並修改密碼，<br>
									造成您的不便，請多多包涵!<br>
									</p>
									<h2
										style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">會員資訊</h2>
									<p style="">
										<strong>姓名:</strong> <b>${CUSTOMER_LAST_NAME}
										${CUSTOMER_FIRST_NAME}</b>
									</p>	
									<p style="">
										<strong>信箱:</strong> <b>${CUSTOMER_EMAIL}</b>
									</p>
									<p style="">
										<strong>暫時密碼:</strong> <b>${CUSTOMER_PASSWORD}</b>
									</p>
									
									<p style="">
									<br>
									若您現在為果物配的訂戶，但訂單沒有顯示出來，請不用擔心，<br>
									我們近日會將訂單資料也做更新。<br>
									若您想訂購我們的水果，也歡迎繼續支持我們，<br>
									我們會努力提供最好的服務給您。
									<br><br>
									果物配團隊
									</p>

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>