<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tbody>
		<tr>
			<td valign="top" style="background-color: #fdfdfd">
				<table border="0" cellpadding="20" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" style="padding: 48px">
								<div
									style="color: #737373; font-size: 14px; line-height: 150%; text-align: left;">
									<p style="">歡迎您成為果物配的會員!</p>
									<h2
										style="color: #557da1; display: block; font-size: 18px; font-weight: bold; line-height: 130%; text-align: left;">會員資訊</h2>
									<p style="">
										<strong>信箱:</strong> <a
											href="https://?&amp;cs=wh&amp;v=b&amp;to=${CUSTOMER_EMAIL}"
											target="_blank" rel="noreferrer">${CUSTOMER_EMAIL}</a>
									</p>
									<p style="">
										<strong>姓名:</strong> ${CUSTOMER_LAST_NAME}
										${CUSTOMER_FIRST_NAME}
									</p>

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>